In [1]:
import pandas as pd
import numpy as np

In [2]:
all_data = pd.read_csv('forest_dataset.csv')#загрузка датасета
all_data.head()

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,2683,333,35,30,26,2743,121,173,179,6572,...,0,0,0,0,0,0,0,0,0,2
1,2915,90,8,216,11,4433,232,228,129,4019,...,0,0,0,0,0,0,0,0,0,1
2,2941,162,7,698,76,2783,227,242,148,1784,...,0,0,0,0,0,0,0,0,0,2
3,3096,60,17,170,3,3303,231,202,99,5370,...,0,0,0,0,0,0,0,0,0,1
4,2999,66,8,488,37,1532,228,225,131,2290,...,0,0,0,0,0,0,0,0,0,2

In [5]:
labels = all_data[all_data.columns[-1]].values #метки класса 
feature_matrix = all_data[all_data.columns[:-1]].values #признаки

In [8]:
from sklearn.model_selection import train_test_split

In [11]:
#разделение на обучающую и тестовую выборку 
train_feature_matrix, test_feature_matrix, train_labels, test_labels = train_test_split(
    feature_matrix, labels, test_size=0.2, random_state=42)

In [14]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

# класификация методом К ближайших соседей
clf = KNeighborsClassifier(7)
# обучение модели
clf.fit(train_feature_matrix, train_labels)
# предсказание на тестовой выборке
y_pred = clf.predict(test_feature_matrix)
# измерение качества
accuracy_score(test_labels, y_pred)

0.7315

In [27]:
# подбор лучших гиперпараметров с помощью кросс валидации
from sklearn.model_selection import GridSearchCV

# параметры для KNeighborsClassifier
params = {
    'n_neighbors':np.arange(1,10),
    'weights':['uniform', 'distance'],
    'metric':['manhattan', 'euclidean']
}

clf_grid = GridSearchCV(clf, params, cv=5, scoring='accuracy', n_jobs=-1)

# поиск наилучших параметров
clf_grid.fit(feature_matrix, labels)

# вывод наилучших параметров
print(clf_grid.best_params_)

{'metric': 'manhattan', 'n_neighbors': 4, 'weights': 'distance'}

In [72]:
# получение прогнозируемой вероятности принадлежности к классам

# с учётом наилучшего параметра
optimal_clf = KNeighborsClassifier(4)

# обучение
optimal_clf.fit(train_feature_matrix, train_labels)

# вычисление вероятности принадлежности к классам
pred_prob = optimal_clf.predict_proba(train_feature_matrix)

# получение прогнозируемой вероятности для класса под номером 3(0,1,2)
pred_prob[:, 2].mean()

0.05996875